.card {
    max-width: 100%;
    border: 1px solid var(--light-grey);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.card-links {
    display: flex;
    flex-direction: row;
    gap: 1ch;
}

.card-links,
.card-links a {
    font-size: 1.125rem;
}

.card .tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.card .tags span {
    white-space: normal;
    word-break: break-word;
    background-color: var(--tag);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
}

.card img {
    width: 100%;
    height: auto;
}

/*ICON STYLING*/
.card-links a {
    text-decoration: none;
    color: #232323;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding: 0.25rem;
    border-radius: 0.5rem;
}

/* HOVER & FOCUS */
.card-links a:hover,
.card-links a:focus {
  color: #232323;
  background-color: #e0e0e0;
  transform: translateY(-1px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.08);
  outline: none;
}

/*ACTIVE*/
.card-links a:active {
}

/*VISITED*/
.card-links a:visited { color: darken(#2470e2, 10%); }